# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/

# Env
.env
.venv/
venv/
ENV/
env/

# Airflow
airflow.db
airflow-webserver.pid
logs/
dags/__pycache__/
airflow.cfg
unittests.cfg

# VS Code / MacOS
.vscode/
.DS_Store

# Data & Artifacts
data/
results/
*.pkl
*.csv
*.json

# Jupyter
.ipynb_checkpoints/

# System
*.log